.container-block4 {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
    font-size:larger;
    padding-left: 2%;
}
h2,.h2-block4 {
  text-align: left;
  margin: 1px;
}
.power {
  height: 75px;
}
.code {
  height: 300px;
}
.colortext {
  color: #d63384;
}
.arrow-1 {
  display: inline;
  margin-top:-20px;
}
.link-block4 {
  text-decoration: underline #0d6efd;
  color: #0d6efd;
}
.flex-button {
  display: flex;
  border: 1px solid Gainsboro;
  border-radius: 10px;
  max-width: 580px;
  height: 80px;
}
.dropdown {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: start;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 11px 17px;
  font-size: 15px;
  height: 40px;
  width:120px;
  position: relative;
  top: 20px;
  left: 20px;
  
  

}
.triangle-down {
  margin: 3px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid white;
}
.h4-block4{
  color: #0d6efd;
  line-height: 10%;
}
.two-columns4 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.content-left {
  width: 48%;
  padding: 10px;
}
.content-right {
  width: 49%;
}
.main {
 display: flex;
 flex-wrap: wrap;
}
.block-wrap {
  width: 260px;
  padding-right: 10px;
}
.color {
    color: #6c757d;
}

@media screen and (max-width: 930px) {
  .content-right .content-left{
    width: 100%;
  }
}
