*::before,
*::after {
  box-sizing: border-box;
}

.wraper5 {
    display: flex;
    width: 100%;
    margin: 0, auto;
    flex-direction: column;
    justify-content: center;
    background-color:solid transparent;
    min-width: 320px;
}

.row-1 {
    display: flex;
    width: 100%;
    height: auto;
    background-color: transparent;
    flex-direction: row;
    margin-bottom: 80px;
}

.row-1__text {
    display: flex;
    width: 100%;
    background-color: solid transparent;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
}

.row-1__icon {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: transparent;
    border: 2px solid transparent;
}

.icon-1 {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    padding-left: 6px;
}

.row-1__title h2 {
    display: flex;
    width: 80%;
    height: 140px;
    background-color: transparent;
    border: 2px solid transparent; 
    padding-top: 20px;
    padding-left: 17px;
    font-size: calc(1.425rem + 2.1vw);
    font-family: Arial, Helvetica, sans-serif;
}

.title-1 h2 {
    padding-top: 6px;
    font-size: calc(1.425rem + 2.1vw);
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}

.row-1__conten {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: transparent;
    border: 2px solid transparent;
}

.content-1 {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.row-1__link {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 2px solid transparent;
}

.link-1 {
    padding-top: 20px;
    padding-left: 13px;
    font-size: 20px;
    color: #0d6efd;
    font-family: Arial, Helvetica, sans-serif;
}

.arrow-1 {
    width: 24px;
    height: 20px;
    padding-top: 24px;
    padding-left: 10px;
    color: #0d6efd;
}
.row-1__image {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    justify-content: center;
    padding-top: 130px;
    object-fit: cover;
}

.row-2 {
    display: flex;
    min-width: 320px;
    height: 640px;
    background-color: transparent;
    flex-direction: row;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
}

.row-2__text {
    display: flex;
    width: 100%;
    background-color: solid transparent;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
}

.row-2__icon {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: transparent;
    border: 2px solid transparent; 
}

.icon-2 {
    width: 70px;
    height: 70px;
    padding-top: 5px;
    padding-left: 12px;
}

.row-2__title h2 {
    display: flex;
    width: 100%;
    height: 180px;
    background-color: transparent;
    text-align: start;
}

.title-2 h2 {
    width: 100%;
    padding-top: 23px;
    padding-left: 0px;
    font-size: calc(1.425rem + 2.1vw);
    font-family: Arial, Helvetica, sans-serif;
}

.row-2__conten {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: transparent;
    border: 2px solid transparent;
}

.content-2 {
    padding-left: 15px;
    padding-right: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.row-2__link {
    display: flex;
    width: 100%;
    height: 50px;
}   

.link-2 {
    padding-top: 45px;
    padding-left: 17px;
    font-size: 20px;
    color: #0d6efd;
    font-family: Arial, Helvetica, sans-serif;
}

.arrow-2 {
    width: 24px;
    height: 20px;
    padding-bottom: 50px;
    color: #0d6efd;
}


.row-2__image {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    justify-content: center;
    padding-top: 110px;
    padding-left: 70px;
}

.footer {
    display: flex;
    width: 100%;
    height: 450px;
    background-color: rgb(246, 246, 246);
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.footer_block1 {
    display: flex;
    height: 80%;
}
 
.footer__designed-by {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
  }

.footer_block2 {
    display: flex;
    flex-direction: row;
}

.footer__links {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: transparent;
    border: 1px solid transparent;
    justify-content: space-around;
    margin-left: 55px;
    margin-right: 55px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 27%;
  }

.footer__guides {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: transparent;
    border: 1px solid transparent;
    justify-content: space-around;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

.footer_block3 {
    display: flex;
    flex-direction: row;
  }

.footer__projects {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: transparent;
    border: 1px solid transparent;
    justify-content: space-around;
    margin-left: 55px;
    margin-right:35px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 27%;
  }

.footer__community {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: transparent;
    border: 1px solid transparent;
    justify-content: space-around;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    
  }

  @media (max-width: 1243px) {
    .row-2__title h2 {
        height: 220px;
    }
  }

  @media (max-width: 1143px) {
    .row-2__title h2 {
        height: 225px;
    }

    .row-2 {
       margin-bottom: 50px; 
    }
  }
  
  @media (max-width: 1048px) {
    .row-2 {
        height: 600px;
    }
  }

  @media (max-width: 991px) {
    .wraper5 {
        width: 100%;
        align-items: center;
        padding-left: 0;
    }
    
    .row-1 {
        display: contents;
        width: 50%; 
        align-items: center; 
        margin-top: 120px;   
    }

    .row-1__text {
        margin-top: 100px;
        padding-right: 0;
        width: auto;
    }

    .row-1__icon {
        padding-left: 20px;
        width: 90%;
    }

    .row-1__title h2 {
        height: 50px;
        padding-left: 25px;
        margin: 0;
    }

    .row-1__conten {
        margin-right: 0;
    }

    .content-1 {
        padding-left: 25px;
        padding-right: 0;
        width: 95%;
        margin-right: 0;
    }

    .row-1__link {
        padding-left: 10px;
        width: 90%;
    }

    .row-1__image {
        box-sizing: border-box;
        margin-bottom: 50px;
        padding-left: 50px;
    }

    .row-2 {
        display: contents;
        width: 50%;
        align-content: center;
        margin-top: 120px;
        margin-bottom: 120px;
        padding-bottom: 120px;
    }
 
    .row-2__text {
        width: auto;
    }

    .row-2__icon {
        padding-left: 20px;
        width: auto;
    }

    .row-2__title h2 {
        height: 50px;
        padding-left: 25px;
    }    
      

    .row-2__conten {
        margin-bottom: 100px;   
    }

    .content-2 {
        padding-top: 0;
        padding-left: 25px;
    }

    .row-2__link {
        padding-left: 8px;
    }

    .row-2__image {
        padding-top: 50px;
        padding-left: 0;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%; 
        height: 820px;
        margin-top: 100px;
        align-items: center;
        justify-content: space-around;
    }
    
    .footer_block1 {
        display: flex;
        text-align: center;
        height: 150px;
        justify-content: center;
        padding-right: 90px;
        padding-bottom: 30px;
    }

    .footer__designed-by {
        width: 95%;
        text-align: left;
    }

    .footer_block2 {
        display: flex;
        width: 90%;
        height: 180px;
        padding-left: 50px;
        padding-bottom: 30px;
     }

     .footer__links {
        display: flex;
        width: 250px;
     }

     .footer__guides {
        display: flex;
        width: 250px;
     }

    .footer_block3 {
        display: flex;
        width: 90%;
        padding-left: 50px;
    }

    .footer__projects {
        display: flex;
        width: 250px;
    }

    .footer__community {
        display: flex;
        width: 250px;
    }
   } 

   @media (max-width: 959px) {
    .row-1__image {
        padding-top: 50px;
    }

    .row-2__title {
        height: 180px;
    }

    .footer_block1 {
        height: 220px;
        padding-bottom: 0;
        padding-left: 35px;
    }
   }
    
   @media (max-width: 880px) {
    .title-1 h2 {
        height: 90px;
    }
   }

   @media (max-width: 839px) {
    .row-1__title h2 {
        margin-bottom: 50px;
        margin: 0;
        height: 110px;
        padding-top: 20px;
    }

    .content-1 {
        padding-top: 0;
    }

    .row-1__image {
        padding-top: 30px;
    }

    .row-2__title h2 {
        height: 140px;
        margin: 0;
    }

    .content-2 {
        height: auto;
    }

    .footer {
        padding-top: 0;
    }

    .footer_block1 {
        padding-left: 100px;
    }
}

  @media (max-width: 809px) {
    .wraper5 {
        width: 100%;
  }

    .row-1 {
        margin-top: 120px;
    }

    .row-1__image {
        padding-bottom: 0;
    }

    .row-2__title h2 {
        height: 100px;
    }

    .row-2__image {
        padding-left: 0;
        width: 100%;
    }

    .footer {
        width: 100%;
        padding-top: 0;
        margin-top: 70px;
        align-items: center;
   }

   .footer_block1 {
        padding-left: 100px;
   }
}
 
@media (max-width: 559px) {
    .footer_block1 {
        padding-bottom: 30px;
        padding-left: 60px;
    }
    .footer_block2 {
        padding-left: 0;
    }
    .footer_block3 {
        padding-left: 0;
    }
}

@media (max-width: 520px) {
    .footer_block1 {
        padding-bottom: 50px;
    }

    .footer_block2 {
        padding-bottom: 70px;
    }
}

@media (max-width: 450px) {
    .footer_block1 {
        padding-bottom: 60px;
        padding-bottom: 0;
        width: 300px;
        height: 240px;
    }
    .footer_block2 {
        padding-bottom: 0;
        width: 405px;
        height: 275px;
    }
}






    
  

